		
		<%= render "/partials/side_a" %>
		<div class="box">
			<div class="box_title">
				<h4><a>热门点击</a></h4>
			</div>
			<ul class="re_list clearfix">
				<% for topic in @side_pic_topics %>
				<li>
					<p class="re_img"><a href="<%= topic.show_url %>" title="<%= topic.title %>" target="_blank"><img src="<%= topic.cover_file_name %>" alt="<%= topic.title %>" /></a></p>
					<p class="re_name"><a href="<%= topic.show_url %>" title="<%= topic.title %>" target="_blank"><%= topic.title %></a></p>
				</li>
				<% end %>
			</ul>
			<ul class="box_r_common_list">
				<% for topic in @side_topics %>
				<li><a href="<%= topic.show_url %>" title="<%= topic.title %>" target="_blank"><%= topic.title %></a></li>
				<% end %>
			</ul>
		</div>