
	<div id="Main">
		<div class="box">
			<div class="box_title">
				<h3><a href="/c/<%= @category.alias %>"><%= @category.name %></a></h3>
			</div>
			<div class="box_info clearfix">
				<div class="box_info_imgs">
					<% for topic in @pic_topics %>
					<div class="box_info_img_item">
						<a href="<%= topic.show_url %>" title="<%= topic.title %>" target="_blank"><img src="<%= topic.cover_file_name %>" alt="<%= topic.title %>" /></a>
						<div class="box_info_img_item_txt"><a href="<%= topic.show_url %>" title="<%= topic.title %>" target="_blank"><%= topic.title %></a></div>
					</div>
					<% end %>
				</div>
				<ul class="box_info_list">
					<% for topic in @topics %>
					<li>
						<span>[<%= topic.created_at.strftime("%Y-%m-%d") %>]</span>
						<a href="<%= topic.show_url %>" title="<%= topic.title %>" target="_blank"><%= topic.title %></a>
					</li>
					<% end %>
				</ul>
			</div>
			<div class="box_pagination">
				<%= will_paginate @topics %>
			</div>
		</div>
	</div>
	<div id="Side">		
		<%= render "/partials/side" %>
	</div>