
	<div id="Main">
		<div class="clearfix">
			<div class="flashpics">				
				<div id="loopedSlider">
					<div class="container">
						<div class="slides">
							<% for topic in @slide_topics %>
							<div>
								<p class="featured-thumb">
									<a href="<%= topic.show_url %>" target="_blank"><img src="<%= topic.cover_file_name %>" alt="<%= topic.title %>" /></a>
								</p>
								<h2 class="entry-title">
									<a href="<%= topic.show_url %>" target="_blank" title="<%= topic.title %>" rel="bookmark"><%= topic.title %></a>
								</h2>
							</div>
							<% end %>
						</div>
					</div>
					<ul class="pagination">
						<% 1.upto @slide_topics.length do |i| %>
						<li><a href="#" rel="1"><%= i %></a></li>
						<% end %>
					</ul>
				</div>
				<script type="text/javascript" charset="utf-8">
					$(function(){
						$('#loopedSlider').loopedSlider();
					});
				</script>
			</div>
			<div class="new_topics">
				<div class="new_topics_title">最新时尚</div>
				<ul class="new_topics_list">
					<% for topic in @new_topics %>
					<li><a href="<%= topic.show_url %>" title="<%= topic.title %>" target="_blank"><%= topic.title %></a></li>
					<% end %>
				</ul>
			</div>
		</div>
		<% 1.upto 4 do |c_id| %>
		<% @category = Category.find(c_id) %>
		<% @list_topics = Topic.index_news_list(c_id, 18) %>
		<div class="box">
			<div class="box_title">
				<h3><a href="/<%= @category.alias %>"><%= @category.name %></a></h3>
			</div>
			<div class="box_content clearfix">
				<div class="box_re_pic_item">
					<a href="<%= @list_topics[0].show_url %>" title="<%= @list_topics[0].title %>" target="_blank"><img src="<%= @list_topics[0].cover_file_name %>" alt="<%= @list_topics[0].title %>" /></a>
					<div class="box_re_pic_item_txt"><a href="<%= @list_topics[0].show_url %>" title="<%= @list_topics[0].title %>" target="_blank"><%= @list_topics[0].title %></a></div>
				</div>
				<div class="box_items">
					<div class="box_re_item">
						<h4><a href="<%= @list_topics[1].show_url %>" title="<%= @list_topics[1].title %>" target="_blank"><%= @list_topics[1].title %></a></h4>
						<p><%= truncate(@list_topics[1].summary, :length => 56).gsub(/<b(.*?)b>/, "") %>...<a href="<%= @list_topics[1].show_url %>" target="_blank">[更多详细]</a></p>
					</div>
					<ul class="box_item_list clearfix" style="border-bottom:1px dashed #EBEBEB;">
						<% 2.upto 9 do |i| %>
						<li>
							<a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><%= @list_topics[i].title %></a>
						</li>
						<% end %>
					</ul>
					<ul class="box_item_list clearfix">
						<% 10.upto 17 do |i| %>
						<li>
							<a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><%= @list_topics[i].title %></a>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<div id="Side">		
		<%= render "/partials/side_a" %>
		<% @category = Category.find(5) %>
		<% @list_topics = Topic.index_news_list(5, 12) %>
		<div class="box">
			<div class="box_title">
				<span>
					<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%B2%CA%BD%F0&style=grid&tab=coefp" target="_blank">彩金</a>
					<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%BA%FB%B5%FB%BD%E1%CA%CE%C6%B7&style=grid&tab=coefp" target="_blank">蝴蝶结饰品</a>
					<a href="/c/<%= @category.alias %>" class="more">&gt;&gt;更多</a>
				</span>
				<h4><a href="/c/<%= @category.alias %>"><%= @category.name %></a></h4>
			</div>
			<ul class="product_list clearfix">
				<% 0.upto 1 do |i| %>
				<li>
					<p class="product_img"><a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><img src="<%= @list_topics[i].cover_file_name %>" alt="<%= @list_topics[i].title %>" /></a></p>
					<p class="product_name"><a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><%= @list_topics[i].title %></a></p>
				</li>
				<% end %>
			</ul>
			<div class="product_types">
				<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%BB%D8%BC%D2%B5%C4%D3%D5%BB%F3+%CF%EE%C1%B4&style=grid&tab=coefp" target="_blank">回家的诱惑项链</a>
				<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%B9%E2%B6%AF%C4%DC&style=grid&tab=coefp" target="_blank">光动能</a>
				<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%CD%F2%B1%A6%C1%FA+%CA%D6%B1%ED&style=grid&tab=coefp" target="_blank">万宝龙手表</a>
			</div>
			<ul class="box_r_item_list">
				<% 2.upto 11 do |i| %>
				<li><a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><%= @list_topics[i].title %></a></li>
				<% end %>
			</ul>
		</div>
		<% @category = Category.find(6) %>
		<% @list_topics = Topic.index_news_list(6, 12) %>
		<div class="box">
			<div class="box_title">
				<span>
					<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%B1%AA%CE%C6%B0%FC&style=grid&tab=coefp&cat=50006842" target="_blank">豹纹</a>
					<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%BF%AD%B5%D9%C3%A8&style=grid&tab=coefp&cat=50006842" target="_blank">凯蒂猫</a>
					<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%C5%A3%C4%CC%B0%FC&style=grid&tab=coefp&cat=50006842" target="_blank">牛奶包</a>
					<a href="/c/<%= @category.alias %>" class="more">&gt;&gt;更多</a>
				</span>
				<h4><a href="/c/<%= @category.alias %>"><%= @category.name %></a></h4>
			</div>
			<ul class="product_list clearfix">
				<% 0.upto 1 do |i| %>
				<li>
					<p class="product_img"><a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><img src="<%= @list_topics[i].cover_file_name %>" alt="<%= @list_topics[i].title %>" /></a></p>
					<p class="product_name"><a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><%= @list_topics[i].title %></a></p>
				</li>
				<% end %>
			</ul>
			<div class="product_types">
				<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%C4%D0%CA%BF%D0%B1%BF%E6%B0%FC&style=grid&tab=coefp&cat=50006842" target="_blank">男士斜挎包</a>
				<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%C4%CD%BF%CB+%D7%A8%B9%F1+%D5%FD%C6%B7&style=grid&tab=coefp&cat=50006842" target="_blank">耐克 专柜 正品</a>
				<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%BF%AD%C0%F2%B0%FC&style=grid&tab=coefp&cat=50006842" target="_blank">凯莉包</a>
			</div>
			<ul class="box_r_item_list">
				<% 2.upto 11 do |i| %>
				<li><a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><%= @list_topics[i].title %></a></li>
				<% end %>
			</ul>
		</div>
		<% @category = Category.find(7) %>
		<% @list_topics = Topic.index_news_list(7, 12) %>
		<div class="box">
			<div class="box_title">
				<span>
					<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%BA%AB%B9%FA&style=grid&tab=coefp&cat=50006843" target="_blank">韩国</a>
					<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%B1%AA%CE%C6&style=grid&tab=coefp&cat=50006843" target="_blank">豹纹</a>
					<a href="/c/<%= @category.alias %>" class="more">&gt;&gt;更多</a>
				</span>
				<h4><a href="/c/<%= @category.alias %>"><%= @category.name %></a></h4>
			</div>
			<ul class="product_list clearfix">
				<% 0.upto 1 do |i| %>
				<li>
					<p class="product_img"><a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><img src="<%= @list_topics[i].cover_file_name %>" alt="<%= @list_topics[i].title %>" /></a></p>
					<p class="product_name"><a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><%= @list_topics[i].title %></a></p>
				</li>
				<% end %>
			</ul>
			<div class="product_types">
				<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%D0%DD%CF%D0%D0%AC+%C5%AE+%C4%DA%D4%F6%B8%DF&style=grid&tab=coefp&cat=50006843" target="_blank">休闲鞋女内增高</a>
				<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%BB%E9%D0%AC+%BA%EC%C9%AB&style=grid&tab=coefp&cat=50006843" target="_blank">婚鞋红色</a>
				<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%B4%BA%BC%BE%D1%A5%D7%D3&style=grid&tab=coefp&cat=50006843" target="_blank">春季靴子</a>
			</div>
			<ul class="box_r_item_list">
				<% 2.upto 11 do |i| %>
				<li><a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><%= @list_topics[i].title %></a></li>
				<% end %>
			</ul>
		</div>
	</div>