
	<div id="Main">
		<div class="clearfix">
			<div class="flashpics">				
				<div id="loopedSlider">
					<div class="container">
						<div class="slides">
							<% for topic in @slide_topics %>
							<div>
								<p class="featured-thumb">
									<a href="<%= topic.show_url %>" target="_blank"><img src="<%= topic.cover_file_name %>" alt="<%= topic.title %>" /></a>
								</p>
								<h2 class="entry-title">
									<a href="<%= topic.show_url %>" target="_blank" title="<%= topic.title %>" rel="bookmark"><%= topic.title %></a>
								</h2>
							</div>
							<% end %>
						</div>
					</div>
					<ul class="pagination">
						<% 1.upto @slide_topics.length do |i| %>
						<li><a href="#" rel="1"><%= i %></a></li>
						<% end %>
					</ul>
				</div>
				<script type="text/javascript" charset="utf-8">
					$(function(){
						$('#loopedSlider').loopedSlider();
					});
				</script>
			</div>
			<div class="new_topics">
				<div class="new_topics_title">最新时尚</div>
				<ul class="new_topics_list">
					<% for topic in @new_topics %>
					<li><a href="<%= topic.show_url %>" title="<%= topic.title %>" target="_blank"><%= topic.title %></a></li>
					<% end %>
				</ul>
			</div>
		</div>
		<% 1.upto 4 do |c_id| %>
		<% @category = Category.find(c_id) %>
		<% @list_topics = Topic.index_news_list(c_id, 18) %>
		<div class="box">
			<div class="box_title">
				<h3><a href="/<%= @category.alias %>"><%= @category.name %></a></h3>
			</div>
			<div class="box_content clearfix">
				<div class="box_re_pic_item">
					<a href="<%= @list_topics[0].show_url %>" title="<%= @list_topics[0].title %>" target="_blank"><img src="<%= @list_topics[0].cover_file_name %>" alt="<%= @list_topics[0].title %>" /></a>
					<div class="box_re_pic_item_txt"><a href="<%= @list_topics[0].show_url %>" title="<%= @list_topics[0].title %>" target="_blank"><%= @list_topics[0].title %></a></div>
				</div>
				<div class="box_items">
					<div class="box_re_item">
						<h4><a href="<%= @list_topics[1].show_url %>" title="<%= @list_topics[1].title %>" target="_blank"><%= @list_topics[1].title %></a></h4>
						<p><%= truncate(@list_topics[1].summary, :length => 56).gsub(/<b(.*?)b>/, "") %>...<a href="<%= @list_topics[1].show_url %>" target="_blank">[更多详细]</a></p>
					</div>
					<ul class="box_item_list clearfix" style="border-bottom:1px dashed #EBEBEB;">
						<% 2.upto 9 do |i| %>
						<li>
							<a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><%= @list_topics[i].title %></a>
						</li>
						<% end %>
					</ul>
					<ul class="box_item_list clearfix">
						<% 10.upto 17 do |i| %>
						<li>
							<a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><%= @list_topics[i].title %></a>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<div id="Side">		
		<%= render "/partials/side_a" %>
		<% 5.upto 7 do |c_id| %>
		<% @category = Category.find(c_id) %>
		<% @list_topics = Topic.index_news_list(c_id, 12) %>
		<div class="box">
			<div class="box_title">
				<span>
					<a href="#">丝袜</a>|<a href="#">项链</a>|<a href="#">首饰</a>
					<a href="#" class="more">&gt;&gt;更多</a>
				</span>
				<h4><a href="/c/<%= @category.alias %>"><%= @category.name %></a></h4>
			</div>
			<ul class="product_list clearfix">
				<% 0.upto 1 do |i| %>
				<li>
					<p class="product_img"><a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><img src="<%= @list_topics[i].cover_file_name %>" alt="<%= @list_topics[i].title %>" /></a></p>
					<p class="product_name"><a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><%= @list_topics[i].title %></a></p>
				</li>
				<% end %>
			</ul>
			<div class="product_types">
				<% 6.times do %><a href="#">丝袜</a><% end %>
			</div>
			<ul class="box_r_item_list">
				<% 2.upto 11 do |i| %>
				<li><a href="<%= @list_topics[i].show_url %>" title="<%= @list_topics[i].title %>" target="_blank"><%= @list_topics[i].title %></a></li>
				<% end %>
			</ul>
		</div>
		<% end %>
	</div>