
	<div id="Main">
		<div class="box">
			<div class="box_title">
				<h5>您当前位置: <a href="/">都市女性</a> &gt; <a href="/c/<%= @category.alias %>"><%= @category.name %></a></h5>
			</div>
			<div class="topic_info clearfix">
				<div class="topic_title"><%= @topic.title %></div>
				<div class="topic_from">
					<a href="/">都市女性</a> http://www.lady265.com
					[<%= @topic.created_at.strftime("%Y-%m-%d") %>] 出处：爱美网 编辑：小cha
				</div>
				<div class="topic_content">
				<%= simple_format @content %>
				</div>
				<div class="topic_pagination">
					<%= topic_show_page(@topic, @page_count, @page) %>
				</div>
			</div>
		</div>
	</div>
	<div id="Side">
		<%= render "/partials/side" %>
	</div>