<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title + " - " if !@page_title.nil? %>都市女性 lady256.com - 女性|时尚|美容</title>
  <%= stylesheet_link_tag "common", "main" %>
  <%= javascript_include_tag "jquery-1.3.2.min", "loopedslider" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22479780-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<div id="wapper">
<div id="Container">
	<div id="Header" class="clearfix">
		<div class="logo">
			<a href="/"><img src="/images/logo.png" /></a>
		</div>
		<div class="search">
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-3608912129160607";
			/* lady256_728x90 */
			google_ad_slot = "9504826739";
			google_ad_width = 728;
			google_ad_height = 90;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
	</div>
	<div id="Nav">
		<ul class="NavList">
			<%= show_nav_list(@cur, @categories) %>
		</ul>
	</div>
	<div id="PageBody" class="clearfix">
	<%= yield %>
	</div>
	<div id="Footer">
		<div id="Foot">
			Copyright &copy; 2011-2012 Lady256.com 版权所有 QQ: 395693519
		</div>
	</div>
</div>
</div>

</body>
</html>
