<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title + " - " if !@page_title.nil? %>都市女性 lady265.com - 女性|时尚|美容</title>
  <%= stylesheet_link_tag "common", "main" %>
  <%= javascript_include_tag "jquery-1.3.2.min", "loopedslider" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="wapper">
<div id="Container">
	<div id="Header">
		<div class="logo">
			<a href="/"><img src="/images/logo.png" /></a>
		</div>
		<div class="search">
		</div>
	</div>
	<div id="Nav">
		<ul class="NavList">
			<%= show_nav_list(@cur, @categories) %>
		</ul>
	</div>
	<div id="PageBody" class="clearfix">
	<%= yield %>
	</div>
	<div id="Footer">
		<div id="Foot">
			Copyright &copy; 2011-2012 Lady265.com 版权所有
		</div>
	</div>
</div>
</div>

</body>
</html>
