<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title + " - " if !@page_title.nil? %>都市女性 lady256.com - 女性|时尚|美容</title>
	<meta name="keywords" content="<% if @keywords.nil? %>女性时尚,明星装扮,流行服饰,搭配学堂,环球街拍,配饰,包包,鞋帽<% else %><%= @keywords %><% end %>" />
	<meta name="description" content="<% if @description.nil? %>都市女性(www.lady256.com)关注女性时尚,明星装扮,流行服饰,搭配学堂,环球街拍,配饰,包包,鞋帽<% else %><%= @description %><% end %>" />
	<meta name="author" content="都市女性 | www.lady256.com" />
	<meta name="Copyright" content="Copyright (c) 2011-2012 lady256.com" />
  <%= stylesheet_link_tag "common", "main" %>
  <%= javascript_include_tag "jquery-1.3.2.min", "loopedslider" %>
  <%= csrf_meta_tag %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22479780-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<div id="wapper">
<div id="Container">
	<div id="Top">
		<div class="top_l"><a href="/">都市女性网</a> - 女性 | 时尚 | 美容</div>
		<div class="top_r">
			热门关键词：
			<a href="http://s.click.taobao.com/t_3?&p=mm_11693044_0_0&n=23&l=http%3A%2F%2Fs8.taobao.com%2Fbrowse%2F16%2Fn-g%2Cygwnfqwixe----------------40--commend-0-1%2C2-16.htm%3Fpid%3Dmm_11693044_0_0" target="_blank">连衣裙</a>
			<a href="http://s.click.taobao.com/t_3?&p=mm_11693044_0_0&n=23&l=http%3A%2F%2Fs8.taobao.com%2Fbrowse%2F16%2Fn-g%2C2gu3pra----------------40--commend-0-1%2C2-16.htm%3Fpid%3Dmm_11693044_0_0" target="_blank">雪纺</a>
			<a href="http://s.click.taobao.com/t_3?&p=mm_11693044_0_0&n=23&l=http%3A%2F%2Fs8.taobao.com%2Fbrowse%2F50006842%2Fn-g%2Cywxlb7a----------------40--commend-0-1%2C2-50006842.htm%3Fpid%3Dmm_11693044_0_0" target="_blank">女包</a>
			<a href="http://s.click.taobao.com/t_3?&p=mm_11693044_0_0&n=23&l=http%3A%2F%2Fs8.taobao.com%2Fbrowse%2F50006843%2Fn-g%2Cyg45bla----------------40--commend-0-1%2C2-50006843.htm%3Fpid%3Dmm_11693044_0_0" target="_blank">凉鞋</a>
			<a href="http://s.click.taobao.com/t_3?&p=mm_11693044_0_0&n=23&l=http%3A%2F%2Fs8.taobao.com%2Fbrowse%2F16%2Fn-g%2Cktipi----------------40--commend-0-1%2C2-16.htm%3Fpid%3Dmm_11693044_0_0" target="_blank">T恤</a>
			<a href="http://s.click.taobao.com/t_3?&p=mm_11693044_0_0&n=23&l=http%3A%2F%2Fs8.taobao.com%2Fbrowse%2F2128%2Fn-g%2Czkxnpvwq4u----------------40--commend-0-1%2C2-2128.htm%3Fpid%3Dmm_11693044_0_0" target="_blank">十字绣</a>
			<a href="http://s.click.taobao.com/t_3?&p=mm_11693044_0_0&n=23&l=http%3A%2F%2Fs8.taobao.com%2Fbrowse%2F30%2Fn-g%2Cywr5puf74m----------------40--commend-0-1%2C2-30.htm%3Fpid%3Dmm_11693044_0_0" target="_blank">牛仔裤</a>
			<a href="http://s.click.taobao.com/t_3?&p=mm_11693044_0_0&n=23&l=http%3A%2F%2Fs8.taobao.com%2Fbrowse%2F50006843%2Fn-g%2Cwws5bla----------------40--commend-0-1%2C2-50006843.htm%3Fpid%3Dmm_11693044_0_0" target="_blank">单鞋</a>
			<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%D4%CB%B6%AF%BF%E3&style=grid&tab=coefp&cat=16" target="_blank">运动裤</a>
			<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%CA%E7%C5%AE%CE%DD+%D7%A8%B9%F1+%D5%FD%C6%B7&style=grid&tab=coefp&cat=16" target="_blank">淑女屋</a>			
			<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%D0%DD%CF%D0%D0%AC+%C5%AE+%C4%DA%D4%F6%B8%DF&style=grid&tab=coefp&cat=50006843" target="_blank">休闲鞋 女 内增高</a>
			<a href="http://s8.taobao.com/search?source=top_taoke&from=taoke&pid=mm_11693044_0_0&unid=&mode=0&refpos=&q=%BA%AB%B9%FA&style=grid&tab=coefp&cat=50006843" target="_blank">韩国</a>
		</div>
	</div>
	<div id="Header" class="clearfix">
		<div class="logo">
			<a href="/"><img src="/images/logo.png" /></a>
		</div>
		<div class="search">
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-3608912129160607";
			/* lady256_728x90 */
			google_ad_slot = "9504826739";
			google_ad_width = 728;
			google_ad_height = 90;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
	</div>
	<div id="Nav">
		<ul class="NavList">
			<%= show_nav_list(@cur, @categories) %>
		</ul>
	</div>
	<div id="PageBody" class="clearfix">
	<%= yield %>
	</div>
	<div id="FriendLinks" class="clearfix">
		<div class="fl_title">活动链接</div>
		<ul class="fl_list clearfix">
			<li><a href="/tao/lady" target="_blank">淘宝女人频道</a></li>
			<li><a href="/tao/beauty" target="_blank">淘宝美容频道</a></li>
			<li><a href="/tao/jewelry" target="_blank">淘宝鞋包频道</a></li>
			<li><a href="/tao/taiwan" target="_blank">淘宝台湾馆频道</a></li>
			<li><a href="http://haibao.huoban.taobao.com/tms/topic.php?pid=mm_11693044_0_0&eventid=101857" target="_blank">PBA活动</a></li>
			<li><a href="http://haibao.huoban.taobao.com/tms/topic.php?pid=mm_11693044_0_0&eventid=101286" target="_blank">春装出行</a></li>
			<li><a href="http://haibao.huoban.taobao.com/tms/topic.php?pid=mm_11693044_0_0&eventid=101946" target="_blank">关于爱饰品促销活动</a></li>
		</ul>
	</div>
	<div id="Footer">
		<div id="Foot">
			Copyright &copy; 2011-2012 Lady256.com 版权所有 QQ: 395693519
		</div>
	</div>
</div>
</div>

</body>
</html>
